.home {
    text-align: center;
    width: 70%;
    padding: 5rem;
    &__img {
        opacity: 0.5;

        &__wrapper {

        }
    }
    &__heading {
        
    }
    &__p {
        font-size: 2rem;
    }
}