.home {
    text-align: center;
    width: 70%;
    padding: 2rem;
    &__img {
        margin: 0 auto;
        max-width: 150%;
        opacity: 0.5;

        &__wrapper {

        }
    }
    &__heading {
        
    }
    &__p {
        margin-top: 6rem;
        font-size: 1.2rem;
        text-align: center;
        font-size: 2rem;
    }
}