<section *ngIf="aliens">
    <div class="mb-5 mt-5 text-center">
        <alien-list l-title="Alien Chief Commanders" [items]="aliens['Commander Chief']" [columns]="getCol('chief commander')"></alien-list>
    </div>
    <div class="mb-5 mt-5">
        <alien-list l-title="Alien Commanders" [items]="aliens.Commander" [columns]="getCol('commander')"></alien-list>
    </div>
    <div class="mt-5">
        <alien-list l-title="Alien Warriors" [items]="aliens.Warrior" [columns]="getCol('warrior')"></alien-list>
    </div>
</section>