<div class="auth__character-creation">
  <h2> Alright, {{ user.name }}, you're in the system. <br>
    but who are you, really?
  </h2>
  <form #f="ngForm" (ngSubmit)="initialize(f.value)" class="auth__character-creation__form mt-5">
    <mat-form-field>
      <mat-label>Your code name</mat-label>
      <mat-select>
        <mat-option *ngFor="let cn of codeNames" [value]="cn.value">
          {{ cn.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div class="text-center">
      <button class="button">let's go </button>
    </div>
  </form>
</div>