<mat-drawer-container #sidenav [hasBackdrop]="isMobile()" autosize class=" sidebar">
        <mat-drawer #drawer mode="side" 
        class="sidebar__drawer mat-elevation-z8"  [opened]="!isMobile()" >
        <img class="sidebar__drawer__logo logo" 
        src="../../../assets/logo.png" alt="" srcset="">
        <div class="mt-5">
            <nav-menu></nav-menu>
        </div>
        </mat-drawer>
        <mat-drawer-content class="alien-light sidebar__content">
            &nbsp;<button *ngIf="isMobile()" class="button--icon icon" (click)="drawer.toggle()" >
            <mat-icon svgIcon="hamburger"></mat-icon>    
            </button>
                <router-outlet></router-outlet>
            </mat-drawer-content>
</mat-drawer-container>